<div class="sidebar" data-color="purple" data-background-color="white">
<div class="logo">
        <a href="#" class="simple-text logo-normal">
          IPR Sistemas
        </a>
      </div>
     <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item " ng-class="{ active :  location == '/dash'}">
              <a class="nav-link" href="#!/dash">
                <i class="material-icons">dashboard</i>
                <p>Dash</p>
              </a>
            </li>
          <li class="nav-item " ng-class="{ active : location == '/user'}">
            <a class="nav-link" href="#!/user">
              <i class="material-icons">account_box</i>
              <p>Clientes</p>
            </a>
          </li>
		  <li class="nav-item" ng-class="{ active :  location == '/financeiro'}">
            <a class="nav-link" href="#!/financeiro">
              <i class="material-icons">view_headline</i>
              <p>Financeiro</p>
            </a>
          </li>
		  <li class="nav-item" ng-class="{ active :  location == '/parametros'}">
            <a class="nav-link" href="#!/parametros">
              <i class="material-icons">settings</i>
              <p>Parametros</p>
            </a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="#!/logout">
              <i class="material-icons">exit_to_app</i>
              <p>Sair</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
